modules = ["python-3.11", "nodejs-20", "python3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["borgbackup", "cargo", "libffi", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc", "xcodebuild", "zlib", "libxml2", "libxslt"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "BSSCI Add-on"

[[workflows.workflow]]
name = "BSSCI Add-on"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 demo_run.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
